li.project {
    display: inline-block;
    width: 75px;
    height: 75px;
    margin: 10px;
    padding: 0px;
    border: none;
    top: 0px;
    list-style-type: none;
}

li.projectNoImage {
    border: 2px solid green;
    vertical-align: top;
}

li.projectNoImage div {
    text-align: center;
    vertical-align: middle;
    padding: 1ex;
}

h1 {
    text-align: center;
}

h2 {
    text-align: left;
    margin-left: 2em;
}

#orgButtons {
    text-align: center;
}

#orgButtons a {
    background-color: green;
    color: white;
    text-decoration: none;
    margin-left: 1ex;
    margin-right: 1ex;
    padding: 2px 15px;
    font-family: Helvetica, Sans;
}
